# Python
__pycache__/
*.pyc

# virtual env
.venv/
venv/
.env

# runtime outputs and caches
output/
cache/

# Excel / WPS temp files
~$*.xlsx
~$*.xls
*.tmp

# OS
.DS_Store
Thumbs.db

# config
config.py

fc3d/*.csv
fc3d/*.xlsx
